<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ヒモのこ賭博場</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <h1>
        {{ object.name }}
    </h1>
    {% if not object.winner %}
        <div class="card mx-3 my-3 container">
            <h3 class="card-title">
                投票する
            </h3>
            <form action="./post/" method="post">
                {% csrf_token %}
                <div class="input-group mx-3 row">
                    <div class="input-group-prepend">
                        <span class="input-group-text">自分の名前</span>
                    </div>
                    <input type="text"
                           class="form-control"
                           placeholder="自分の名前"
                           aria-label="自分の名前"
                           width="100%"
                           id="spectator-name"
                           name="spectator-name"
                           size="15"
                           value="{{ spec_name }}"
                    >
                </div>
                <div class="input-group mx-3 row">
                    <div class="input-group-prepend">
                        <span class="input-group-text">投票先</span>
                    </div>
                    <select class="form-control" aria-label="投票先" id="player-id" name="player-id">
                        {% for player in object.event.players.all %}
                            <option value="{{ player.id }}">{{ player.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" value="{{ object.id }}" name="game-id">
                <button class="btn btn-primary px-5 mx-3 mt-2 mb-3" style="width: 100%">予想を送信</button>
            </form>
        </div>
    {% endif %}

    <h2>勝者：
        {% if object.winner %}
            {{ object.winner.name }}
        {% else %}
            未定
        {% endif %}
    </h2>
    <table class="table">
        <tr>
            <th>
                観客の名前
            </th>
            <th>
                予想勝者
            </th>
        </tr>
        {% for expectation in object.expectation_set.all %}
            <tr{% if expectation.expected_winner.name == object.winner.name %} class="table-success" {% endif %}>
                <td>
                    {{ expectation.spectator.name }}
                </td>
                <td>
                    {{ expectation.expected_winner.name }}
                </td>
            </tr>
        {% endfor %}
</table>
</div>
</body>
</html>